@layer components {
  .alert {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 0 1fr;
    align-items: start;
    gap: 0.125rem 0;
    border-radius: var(--radius-container);
    border: 1px solid var(--color-border);
    padding-inline: var(--space-content);
    padding-block: 0.75rem;
    font-size: var(--font-size-sm);
  }

  .alert:has(> svg) {
    grid-template-columns: var(--size-icon) 1fr;
    column-gap: 0.75rem;
  }

  .alert > svg {
    width: var(--size-icon);
    height: var(--size-icon);
    transform: translateY(2px);
    color: currentColor;
  }

  .alert--default {
    background-color: var(--color-card);
    color: var(--color-card-fg);
  }

  .alert--destructive {
    background-color: var(--color-card);
    color: var(--color-destructive);
  }

  .alert--destructive [data-slot='alert-description'] {
    color: color-mix(in oklch, var(--color-destructive) 90%, transparent);
  }

  .alert-title {
    grid-column-start: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    min-height: 1rem;
    font-weight: var(--font-weight-medium);
    letter-spacing: -0.025em;
  }

  .alert-description {
    grid-column-start: 2;
    display: grid;
    justify-items: start;
    gap: 0.25rem;
    font-size: var(--font-size-sm);
    color: var(--color-muted-fg);
  }

  .alert-description p {
    line-height: var(--leading-relaxed);
  }
}
