:root {
  --switch-track-unchecked: var(--color-input-border);
  --switch-thumb-unchecked: var(--color-bg);
}

:is(html.dark, html[data-theme='dark']) {
  --switch-thumb-unchecked: var(--color-fg);
}
