:root {
  --data-table-row-height-sm: calc(var(--spacing) * 5);
  --data-table-row-height-md: calc(var(--spacing) * 6);
  --data-table-row-height-lg: calc(var(--spacing) * 8);
  --data-table-header-height: calc(var(--spacing) * 10);
  --data-table-row-divider-width: 0;
  --data-table-cell-px: calc(var(--spacing) * 2);
  --data-table-cell-py: 0;
  --data-table-font-size: var(--font-size-data);
  --data-table-header-font-size: var(--font-size-xs);
  --data-table-font-weight: var(--font-weight-medium);
  --data-table-header-font-weight: var(--font-weight-semibold);
  --data-table-header-bg: var(--color-bg);
  --data-table-header-fg: var(--color-muted-fg);
  --data-table-row-bg-hover: var(--color-muted);
  --data-table-row-fg-selected: var(--color-selection-fg);
}
